body{
    background-color: aquamarine;
}

p{
    background-color: purple;
}
.container {
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 20px;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
