@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: #1b1b1b;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*, a {
    color: #ffffff;
}

a {
    position: relative;
    text-decoration: none;
}

nav {
    margin-bottom: 4rem;
    padding: 10px;
    font-size: 1.5rem;
}
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;      
    }

    a {
      font-size: 1.25rem;
      
      @media (min-width: 42em){
        font-size: 2rem;
      }
    }

nav.grid {

    ul{
        display:grid;
        grid-template-columns:repeat(3,100px);
        grid-gap:10px;
        justify-content: center;
        justify-items: center;
    }

    .fullwidth {
        grid-column: 1 / 4;

    
    }
}